<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Auto Insurance Claim</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict whether an owner will initiate an auto insurance claim in the next year
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="POST" class="col s12">
      <div class="row">
     
      <!-- #1 -->
        <div class="input-field col s4">
            <label for="first_name"><b>ps_ind_01</b></label>
            <br>
          <input   id="first_name" name="ps_ind_01" type="text" class="validate">
        </div>
        <!--#2 -->
        <div class="input-field col s4">
            <label for="first_name"><b>ps_ind_02_cat</b></label>
            <br>
          <input   id="first_name" name="ps_ind_02_cat" type="text" class="validate">
        </div>
        <!--#3 -->
        <div class="input-field col s4">

          <label for="last_name"><b>ps_ind_03 </b></label>
            <br>
          <input id="last_name"  name="ps_ind_03" type="text" class="validate">

        </div>
        
        <!--#4 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_04_cat</b></label>
            <br>
          <input id="_name" name="ps_ind_04_cat" type="text" class="validate">

        </div>
        
        <!--#5 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_05_cat</b></label>
            <br>
          <input id="_name" name="ps_ind_05_cat" type="text" class="validate">

        </div>
                
                
        <!--#6 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_06_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_06_bin" type="text" class="validate">

        </div>
                
        <!--#7 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_07_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_07_bin" type="text" class="validate">

        </div>
        <!--#8 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_08_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_08_bin" type="text" class="validate">

        </div>
        <!--#9 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_09_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_09_bin" type="text" class="validate">

        </div>
        <!--#10 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_10_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_10_bin" type="text" class="validate">

        </div>
        <!--#11 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_11_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_11_bin" type="text" class="validate">

        </div>
                
        <!--#12 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_12_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_12_bin" type="text" class="validate">

        </div>
        <!--#13 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_13_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_13_bin" type="text" class="validate">

        </div>
        <!--#14 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_14</b></label>
            <br>
          <input id="_name" name="ps_ind_14" type="text" class="validate">

        </div>
        <!--#15 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_15</b></label>
            <br>
          <input id="_name" name="ps_ind_15" type="text" class="validate">

        </div>
        <!--#16 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_16_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_16_bin" type="text" class="validate">

        </div>
        <!--#17 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_17_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_17_bin" type="text" class="validate">

        </div>
        <!--#18 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_ind_18_bin</b></label>
            <br>
          <input id="_name" name="ps_ind_18_bin" type="text" class="validate">

        </div>
        <!--#19 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_reg_01</b></label>
            <br>
          <input id="_name" name="ps_reg_01" type="text" class="validate">

        </div>
        <!--#20 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_reg_02</b></label>
            <br>
          <input id="_name" name="ps_reg_02" type="text" class="validate">

        </div>
        <!--#21 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_reg_03</b></label>
            <br>
          <input id="_name" name="ps_reg_03" type="text" class="validate">

        </div>
        <!--#22 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_01_cat</b></label>
            <br>
          <input id="_name" name="ps_car_01_cat" type="text" class="validate">

        </div>
        <!--#23 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_02_cat</b></label>
            <br>
          <input id="_name" name="ps_car_02_cat" type="text" class="validate">

        </div>
        <!--#24 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_03_cat</b></label>
            <br>
          <input id="_name" name="ps_car_03_cat" type="text" class="validate">

        </div>
        <!--#25 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_04_cat</b></label>
            <br>
          <input id="_name" name="ps_car_04_cat" type="text" class="validate">

        </div>
        <!--#26 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_05_cat</b></label>
            <br>
          <input id="_name" name="ps_car_05_cat" type="text" class="validate">

        </div>
        
        <!-- #27 -->
        <div class="input-field col s4">
            <label for="first_name"><b>ps_car_06_cat</b></label>
            <br>
          <input   id="first_name" name="ps_car_06_cat" type="text" class="validate">
        </div>
        <!--#28 -->
        <div class="input-field col s4">
            <label for="first_name"><b>ps_car_07_cat</b></label>
            <br>
          <input   id="first_name" name="ps_car_07_cat" type="text" class="validate">
        </div>
        <!--#29 -->
        <div class="input-field col s4">

          <label for="last_name"><b>ps_car_08_cat </b></label>
            <br>
          <input id="last_name"  name="ps_car_08_cat" type="text" class="validate">

        </div>
        
        <!--#30 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_09_cat</b></label>
            <br>
          <input id="_name" name="ps_car_09_cat" type="text" class="validate">

        </div>
        
        <!--#31 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_10_cat</b></label>
            <br>
          <input id="_name" name="ps_car_10_cat" type="text" class="validate">

        </div>
                
                
        <!--#32 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_11_cat</b></label>
            <br>
          <input id="_name" name="ps_car_11_cat" type="text" class="validate">

        </div>
                
        <!--#33 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_11</b></label>
            <br>
          <input id="_name" name="ps_car_11" type="text" class="validate">

        </div>
        <!--#34 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_12</b></label>
            <br>
          <input id="_name" name="ps_car_12" type="text" class="validate">

        </div>
        <!--#35 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_13</b></label>
            <br>
          <input id="_name" name="ps_car_13" type="text" class="validate">

        </div>
        <!--#36 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_14</b></label>
            <br>
          <input id="_name" name="ps_car_14" type="text" class="validate">

        </div>
        <!--#37 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_car_15</b></label>
            <br>
          <input id="_name" name="ps_car_15" type="text" class="validate">

        </div>
                
        <!--#38 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_01</b></label>
            <br>
          <input id="_name" name="ps_calc_01" type="text" class="validate">

        </div>
        <!--#39 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_02</b></label>
            <br>
          <input id="_name" name="ps_calc_02" type="text" class="validate">

        </div>
        <!--#40 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_03</b></label>
            <br>
          <input id="_name" name="ps_calc_03" type="text" class="validate">

        </div>
        <!--#41 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_04</b></label>
            <br>
          <input id="_name" name="ps_calc_04" type="text" class="validate">

        </div>
        <!--#42 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_05</b></label>
            <br>
          <input id="_name" name="ps_calc_05" type="text" class="validate">

        </div>
        <!--#43 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_06</b></label>
            <br>
          <input id="_name" name="ps_calc_06" type="text" class="validate">

        </div>
        <!--#44 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_07</b></label>
            <br>
          <input id="_name" name="ps_calc_07" type="text" class="validate">

        </div>
        <!--#45 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_08</b></label>
            <br>
          <input id="_name" name="ps_calc_08" type="text" class="validate">

        </div>
        <!--#46 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_09</b></label>
            <br>
          <input id="_name" name="ps_calc_09" type="text" class="validate">

        </div>
        <!--#47 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_10</b></label>
            <br>
          <input id="_name" name="ps_calc_10" type="text" class="validate">

        </div>
        <!--#48 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_11</b></label>
            <br>
          <input id="_name" name="ps_calc_11" type="text" class="validate">

        </div>
        <!--#49 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_12</b></label>
            <br>
          <input id="_name" name="ps_calc_12" type="text" class="validate">

        </div>
        <!--#50 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_13</b></label>
            <br>
          <input id="_name" name="ps_calc_13" type="text" class="validate">

        </div>
        <!--#51 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_14</b></label>
            <br>
          <input id="_name" name="ps_calc_14" type="text" class="validate">

        </div>
        <!--#52 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_15_bin</b></label>
            <br>
          <input id="_name" name="ps_calc_15_bin" type="text" class="validate">

        </div>
        <!--#53 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_16_bin</b></label>
            <br>
          <input id="_name" name="ps_calc_16_bin" type="text" class="validate">

        </div>
      <!--#54 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_17_bin</b></label>
            <br>
          <input id="_name" name="ps_calc_17_bin" type="text" class="validate">

        </div>
        <!--#55 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_18_bin</b></label>
            <br>
          <input id="_name" name="ps_calc_18_bin" type="text" class="validate">

        </div>
        <!--#56 -->
        <div class="input-field col s4">
            <label for="_name"><b>ps_calc_19_bin</b></label>
            <br>
          <input id="_name" name="ps_calc_19_bin" type="text" class="validate">

        </div>
         <!--#57 -->
         <div class="input-field col s4">
            <label for="_name"><b>ps_calc_20_bin</b></label>
            <br>
          <input id="_name" name="ps_calc_20_bin" type="text" class="validate">

        </div>
      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
      </div>
    </form>
      </div>

      <br><h4 align="center"<b>{{pred}}</b></h4>
        <br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Crime Reports</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>

              <button class="btn waves-effect waves-light" type="submit" name="action">Check
    <i class="material-icons right">send</i>
              </button>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Crime Prediction</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
            <a href="/crime"> <button class="btn waves-effect waves-light"  name="">
    <i class="material-icons right">Predict Crime</i><button></a>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Check on Map</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>

              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
              </button>
      </div>

    </div>
    <br><br>
  </div>
  </div>>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>



